//Toggled menu with About, Logout, Module, Contact
//Provides scrolling mechanism for page
body {
  overflow-x: auto;
}

//defines the supported browser and duration of transition ease: slow to fast
#wrapper {
  padding-left: 0;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

//Horizonal body text scrolls and transitions with no gaps and stack order
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: "lightblue";
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

//toggle "More" button
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

//module info will expand and collapse as menu is toggled
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

//margin is fixed to
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: 150px;
}


.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

//when button is hovered over, color changes to grey, text changes to white
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #ffffff
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #F70000;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #FFFFFF;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  body {
    padding-top: 54px;
  }

  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }

//allows user to nagivate through multiple pages
  .pagination {
    margin-bottom: 15px;
  }
}
